local   all             postgres                                   peer
local   all             all                                        md5
host    all             all             127.0.0.1/32               md5
{% for host in groups['appservers'] %}
host    all             all             {{host}}/32      md5
{% endfor %}